*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    grid-template-columns: 350px 1fr;
    max-width: 1200px;
    gap:50px;
    margin: auto;
    padding-top: 40px;
}

/* Sidebar */
.sidebar{
    height: 90vh;
    background-color: rgb(42, 42, 42);
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 15px;
    position: sticky;
    top: 40px;
}

/* Profile Section */
.profile{
    text-align: center;
}
.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: rgb(224, 224, 224);
}

.profile p{
    background-color: rgb(30, 30, 30);
    color: rgb(255, 191, 0);
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
}
 
/* Contact Section */
.contact{
        margin-top: 30px ;
        border-top: 2px solid #3a3a3a;
        padding-top: 20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color:#a0a0a0;
}

.val{
    color: #e0e0e0;
    text-decoration: none;
}

.email,.phone{
    margin-bottom: 15px;
}
/* Social Media Links Section*/

.social{
    margin-top: 30px ;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.social img{
     height: 25px;
     width: 25px;
     margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
 }

 .social img:hover{
      filter: grayscale(0) invert(0);
 }

 /* Main Content*/
.main-content{
    background-color: rgb(42, 42, 42);
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
}

/* Nav Section*/
#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.active, nav a:hover{
    color: #FFBF00;
}
/* About section */
#about{
    margin-bottom: 40px;
}
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line{
    width: 60px;
    height: 5px;
    background-color: #FFBF00;
    margin-bottom: 15px;
}

.content{
    text-align: justify;
}

/* Skills section*/
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 30px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* Education section */
#education{
    margin-top: 30px;
}

.ed-box{
  margin-top: 20px;
  position: relative;
}

.ed-info{
    margin-bottom: 30px;
    padding-left: 25px;
    position: relative;
}

.year{
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college{
    font-style: italic;
    margin-bottom: 10px;
}

.circle{
    height: 15px;
    width: 15px;
    border: 3px solid #FFBF00;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 5;
}

.liner{
     width: 2px;
     position: absolute;
     top : 0;
     bottom: 0;
     border: 2px solid #3a3a3a;
     left: 5px;
}

/* Portfolio Section*/

.projects-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.project-card{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    transition: transform 0.5s ease,box-shadow 0.5s ease;
}

.project-card img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;
}

.project-info{
    padding: 20px;
}

.project-info h3{
    color: #e0e0e0;
    margin-bottom: 10px
}

.project-info p{
    line-height: 1.6;
    margin-bottom: 15px;
}

.project-info span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

.project-card:hover{
    transform: translateY(-10px);
    box-shadow:0px 0px 10px 5px rgba(0, 0, 0, 0.3);;
}

/* Add Responsiveness */
@media screen and (max-width : 1200px){
     .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
     }    

     .sidebar{
        position: static;
        height: auto;
     }
}